{
  email {$CADDY_EMAIL}
  admin off
}

couch.tamamhealth.org {
  encode zstd gzip

  header {
    Strict-Transport-Security "max-age=63072000; includeSubDomains; preload"
    X-Content-Type-Options "nosniff"
    X-Frame-Options "DENY"
    Referrer-Policy "no-referrer"
    -Server
  }

  reverse_proxy couchdb:5984
}
